<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Letter Frequency Analysis</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- TODO make this a static asset -->
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
  <script src="https://rawgit.com/ecomfe/echarts/4.0.4/dist/echarts.common.min.js"></script>
</head>
<body class="sans-serif bg-white black-70">
  <article class="pa3 ph5-ns w-60-ns">
    <h1 class="f2 lh-title">Letter Frequency Analysis</h1>

    <p class="lh-copy measure-wide">Below are the results from having analyzed {{ word_count }} words in the <a href="https://www.anc.org/data/oanc/">Open American National Corpus</a>, a "subset of the ANC Second Release that is unrestricted in terms of usage and redistribution." It consists of both spoken and written data from a variety of sources.</p>

    <section>
      <h2 class="f3 mb2">Characters</h2>
      <p class="i lh-copy mt0">Note: &amp; and # represent digits and punctuation totals, respectively.</p>

      <div>
        <div id="character-chart" style="width:100%; height:750px;"></div>
        <script type="text/javascript">
          var charChart = echarts.init(document.getElementById('character-chart'), 'light');

          option = {
            tooltip: {
              trigger: 'axis',
              axisPointer: {
                  type: 'shadow'
              }
            },
            grid: {
              left: '0%',
              right: '10%',
              bottom: '3%',
              top: '1%',
              containLabel: true
            },
            xAxis: {
              type: 'value',
              boundaryGap: [0, 0],
              splitNumber: 3
            },
            yAxis: {
              type: 'category',
              data: {{ characters_chart_data.labels|reverse|list|tojson }},
              axisTick: {
                alignWithLabel: true
              }
            },
            series: [{
              name: 'count',
              type: 'bar',
              data: {{ characters_chart_data.data|reverse|list|tojson }},
              barWidth: "20px"
            }]
          };

          charChart.setOption(option);
        </script>
      </div>

      <h3 class="f4">Relative Frequency</h3>
      <div class="flex flex-wrap">
        <div class="w-two-thirds w-third-ns">
          <h4 class="f5 mt0 ttl tracked-tight">All Characters</h4>
          <ol class="list pl0 code">
            {% for character, frequency in characters_relative_freq %}
              {{ character }}: {{ frequency }}<br>
            {% endfor %}
          </ol>
        </div>

        <div class="w-third">
          <h4 class="f5 mt0 ttl tracked-tight">letters only</h4>
          <ol class="list pl0 code">
            {% for letters, frequency in letters_relative_freq %}
              {{ letters }}: {{ frequency }}<br>
            {% endfor %}
          </ol>
        </div>
      </div>
    </section>

    <section>
      <h2 class="f3 mb2">Punctuation</h2>

      <div>
        <div id="punctuation-chart" style="width:100%; height:800px;"></div>
        <script type="text/javascript">
          var punctChart = echarts.init(document.getElementById('punctuation-chart'), 'light');

          option = {
            tooltip: {
              trigger: 'axis',
              axisPointer: {
                  type: 'shadow'
              }
            },
            grid: {
              left: '0%',
              right: '10%',
              bottom: '3%',
              top: '1%',
              containLabel: true
            },
            xAxis: {
              type: 'value',
              boundaryGap: [0, 0],
              splitNumber: 3
            },
            yAxis: {
              type: 'category',
              data: {{ punctuation_chart_data.labels|reverse|list|tojson }},
              axisTick: {
                alignWithLabel: true
              }
            },
            series: [{
              name: 'count',
              type: 'bar',
              data: {{ punctuation_chart_data.data|reverse|list|tojson }},
              barWidth: "20px"
            }]
          };

          punctChart.setOption(option);
        </script>
      </div>
    </section>

    <section>
      <h2 class="f3 mb2">Digits</h2>

      <div>
        <div id="digits-chart" style="width:100%; height:400px;"></div>
        <script type="text/javascript">
          var digitChart = echarts.init(document.getElementById('digits-chart'), 'light');

          option = {
            tooltip: {
              trigger: 'axis',
              axisPointer: {
                  type: 'shadow'
              }
            },
            grid: {
              left: '0%',
              right: '10%',
              bottom: '3%',
              top: '1%',
              containLabel: true
            },
            xAxis: {
              type: 'value',
              boundaryGap: [0, 0],
              splitNumber: 3
            },
            yAxis: {
              type: 'category',
              data: {{ digits_chart_data.labels|reverse|list|tojson }},
              axisTick: {
                alignWithLabel: true
              }
            },
            series: [{
              name: 'count',
              type: 'bar',
              data: {{ digits_chart_data.data|reverse|list|tojson }},
              barWidth: "20px"
            }]
          };

          digitChart.setOption(option);
        </script>
      </div>
    </section>

    <section>
      <h2 class="f3 mb2">N-grams</h2>

      <div class="flex flex-wrap">
        <div class="w-50 w-third-ns">
          <h3 class="f4 mt0 ttl tracked-tight">Bigrams</h3>
          <ol class="list pl0 code">
            {% for bigram, count in top_bigrams %}
              {{ bigram }}: {{ "{:,}".format(count) }} <br>
            {% endfor %}
          </ol>
        </div>

        <div class="w-50">
          <h3 class="f4 mt0 ttl tracked-tight">Trigrams</h3>
          <ol class="list pl0 code">
            {% for trigram, count in top_trigrams %}
              {{ trigram }}: {{ "{:,}".format(count) }} <br>
            {% endfor %}
          </ol>
        </div>
      </div>
    </section>
  </article>
</body>
</html>
