<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- TODO make this a static asset -->
        <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    </head>
    <body class="sans-serif">
        <h1 class="f1">letter frequency analysis</h1>
    </body>
</html>
